# no models are pushed in case they are too large for the repo 
*.rds

# Latex files
# .pdf 
*.aux 
*.toc 
*.bbl 
*.blg 
*.synctex.gz 
*.xdv 
*.out 
*.log 
*.fls 
*.fdb_latexmk 
*.log
*.nav
*.snm

# Apple file system
*.DS_Store

# Other files
*.RData
*.config
*.input
*.properties
*.question
*.results
*.success
*_invoice.csv
*.Rhistory
*.DS_Store
*.DS_Store*
*-condition.csv
*-system.csv
*-workerids.csv
*.hits
*mturk/
*.gitattributes
*concordance.tex

# RData
*.RData 
*.rdb 
*.rdx 