# Latex files
# .pdf .aux .toc .bbl . blg .synctex.gz

# Other files */node_modules/
*.RData
*.config
*.input
*.properties
*.question
*.results
*.success
*_invoice.csv
*.Rhistory
*.DS_Store
*.DS_Store*
*-condition.csv
*-system.csv
*-workerids.csv
*.hits
*mturk/
*.gitattributes
